# Global ------------------------------------------------------------------------
*.zip

# Excel currently open
~*.xlsx

# Files produced by eagle -------------------------------------------------------

# Auto-router
*.job
*.pro

# Board backups
*.b#*

# Schematic backups
*.s#*
